<mat-nav-list>
  <mat-list-item routerLink="/dashboard">
    <button mat-button routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
  </mat-list-item>

  <mat-list-item routerLink="/info">
    <button mat-button routerLink="/info">
      <mat-icon>directions_car</mat-icon>
      Car Information
    </button>
  </mat-list-item>

  <mat-list-item routerLink="/speed">
    <button mat-button routerLink="/speed">
      <mat-icon>link</mat-icon>
      Vehicle Speed
    </button>
  </mat-list-item>

  <mat-list-item routerLink="/RPM">
    <button mat-button routerLink="/RPM">
      <mat-icon>link</mat-icon>
      Engine RPM
    </button>
  </mat-list-item>

  <mat-list-item routerLink="/coolant">
    <button mat-button routerLink="/coolant">
      <mat-icon>link</mat-icon>
      Coolant Temperature
    </button>
  </mat-list-item>

  <!-- <mat-list-item routerLink="/throttle">
        <button mat-button routerLink="/throttle">
            <mat-icon>link</mat-icon>
            Throttle Position
        </button>
    </mat-list-item> -->

  <mat-list-item routerLink="/about">
    <button mat-button routerLink="/about">
      <mat-icon>info</mat-icon>
      About
    </button>
  </mat-list-item>
</mat-nav-list>
