<div class="m-6">
    <mat-card>
        <mat-card-content>
            <div class="flex p-4">
                <h1>
                    Make: BMW
                </h1>
            </div>
            <div class="flex p-4">
                <h1>
                    Model: E92
                </h1>
            </div>
            <div class="flex p-4">
                <h1>
                    VIN: lorem
                </h1>
            </div>
            <div class="flex p-4">
                <h1>
                    Last ride: lorem
                </h1>
            </div>
        </mat-card-content>
    </mat-card>
</div>
