<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://canbusdataesp32.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8940c1f8-b6ee-4ce1-8fd9-3bca9afa56ac/resourceGroups/CanBusData/providers/Microsoft.Web/sites/CanBusDataESP32</ResourceId>
    <UserName>$CanBusDataESP32</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://canbusdataesp32.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>